<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/assets/pure-min.css" media="screen" rel="stylesheet" />
    <!-- TODO -->
    <!-- <link href="/assets/email.css" media="screen" rel="stylesheet" /> -->
    <%= stylesheet_link_tag "admin/application" %>
    <style>
      html, body {
        width: 100%;
        height: 100%;
      }
      .pure-g {
        // Fix flex problem in firefox
        display: flex;
        flex-flow: row wrap;
      }
    </style>
    <title>admin</title>
  </head>
  <body id="app" class="pure-g">
    <router-view></router-view>
  </body>
  <%= javascript_include_tag "admin/application" %>
</html>
