<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="/assets/pure-min.css" media="screen" rel="stylesheet" />
    <!-- TODO -->
    <!-- <link href="/assets/email.css" media="screen" rel="stylesheet" /> -->
    <%= stylesheet_link_tag "admin/application" %>
    <style>
      html, body {
        width: 100%;
        height: 100%;
      }
      .pure-g {
        // Fix flex problem in firefox
        display: flex;
        flex-flow: row wrap;
      }
    </style>
    <title>admin</title>
  </head>
  <body class="pure-g">
    <div id="app"></div>
  </body>
  <%= javascript_include_tag "admin/application" %>
  <style>
    /* make simditor spread the height to fill in the screen */
    .simditor {
      flex: 1;
      border-left: 0;
      border-right: 0;
    }

    .simditor-wrapper {
      flex: 1;
    }

    .simditor-body {
      height: 100%;
      overflow: auto;
    }
  </style>
</html>
