<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="/assets/pure-min.css" media="screen" rel="stylesheet" />
    <title>admin</title>
  </head>
  <body>
    <div id="app" class="pure-g">
      <app></app>
    </div>
    <%= javascript_include_tag "admin/application" %>
  </body>
</html>
